@(activities : List[Activity])

@main("My Activites") {

    <h2>All Activities</h2>

    <script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Activity Id</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(activity <- activities) {
            <tr>
                <td><a href="@routes.Activities.details(activity.aid)">
                    @activity.aid
                </a></td>
                <td><a href="@routes.Activities.details(activity.aid)">
                    @activity.name
                </a></td>
                <td><a href="@routes.Activities.details(activity.aid)">
                    @activity.description
                </a></td>
                <td>
                    <a href="@routes.Activities.details(activity.aid)"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a onclick="javascript:del('@routes.Activities.delete(activity.aid)')"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>

    </table>

    <a href="@routes.Activities.newActivity()" class="btn btn-primary">
        <i class="glyphicon-plus"></i> New Activity</a>
}